.header
{
    background-color:lightskyblue;
}
.footer
{
    background-color: lightskyblue;
}
.bandeau
{
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    height: 120px;
    background-color: cornflowerblue;
}
.bandeauH2
{
color: white;
 text-align: center;
}

