MBLBundle\Entity\ETQ:
    type: entity
    table: null
    repositoryClass: MBLBundle\Repository\ETQRepository
    id:
        id:
            type: integer
            id: true
            generator:
                strategy: AUTO
    fields:
        etqfr:
            type: string
            length: 255
        etqit:
            type: string
            length: 255
    lifecycleCallbacks: {  }




    oneToMany:
        profils:
            targetEntity: MBLBundle\Entity\Profil
            mappedBy: etq

        profilrecherches:
            targetEntity: MBLBundle\Entity\ProfilRecherche
            mappedBy: etq