{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>

    <p><a href="{{path('mbl_homepage') }}">{{ 'registration.back'|trans }}</a></p>

{% endblock fos_user_content %}
