{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <p class="center"><a href="{{path('mbl_homepage') }}">{{ 'registration.back'|trans }}</a></p>

{% endblock fos_user_content %}
