@import "global";
// CSS de la page EDIT PROFIL
.editprofil{

    .divform{
        text-align: center;

        ul li span {
            color : $ColorDarkGrey;
        }
        [type="checkbox"]:checked+label:before {

            border-right: 2px solid $ColorDarkGrey;
            border-bottom: 2px solid $ColorDarkGrey;

        }
    }
    textarea{
        border-radius: 8px;
        height: 10rem;
    }
    .sltbox input{
        border:2px solid lightgray;
        background-color: $Colorblue;
    }
    .sltbox span {
<<<<<<< HEAD
        z-index: 2;
        font-size:1.5em;
        color: black;
=======
         z-index: 1;
        color:black;
>>>>>>> 71cc8208413d2ad9803eb251de609991ca2002fe
    }
    .btnright a{
        float:right;
    }
    .hiddenPreview {
        display: none;
    }
    img {
        width: 100%;
    }
    input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time],
    input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number],
    input[type=search], #mblbundle_profil_description {
        border: 1.5px solid lightgray;
        border-radius: 10px;
        outline: none;
    }

    input:focus, #mblbundle_profil_description:focus  {
        border: 1.5px solid $Colorblue;
        border-radius: 10px;
        box-shadow: none;
    }

}
// CSS de la page VOIR MON PROFIL PUBLIC

.showprofil{

    margin: 0;
    max-width: none;
    width: 100%;

    h4, h5, p{
        text-align: center;
        word-wrap: break-word;
    }
    .cartepro, .cartepro2{
        border: 1px solid red;
        background-color: $Colorblue;
        padding-left: 5%;
        padding-right: 5%;
        border-radius: $BorderRadius;
        text-align: center;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .imgpro{
        text-align: center;
        background-color: white;
        margin:0;
        padding:0; margin-top: 3%;
        border-radius: $BorderRadius;
    }
    .imgpro img {
       width:60%;
       margin-top:5%;
       margin-bottom: 3%;
    }
    .modpro{
     text-align: center;
    }
<<<<<<< HEAD
=======


>>>>>>> 71cc8208413d2ad9803eb251de609991ca2002fe
}