{% extends '@MBL/layout.html.twig' %}

{% block titreH2 %} <h2>Contact</h2> {% endblock %}

{% block body %}
    <div id="footer_contact">
        <p>Kombucha pop-up cred, viral poutine 3 wolf moon ramps. Banjo bushwick plaid deep v brunch cray YOLO synth subway
            tile blue bottle keffiyeh trust fund fam artisan. Helvetica farm-to-table aesthetic readymade disrupt sriracha
            skateboard lyft woke mumblecore semiotics plaid scenester jean shorts whatever. Put a bird on it microdosing
            craft beer, palo santo austin scenester artisan biodiesel williamsburg pork belly vinyl poutine distillery.
            Pork belly blue bottle hashtag craft beer thundercats. Fingerstache post-ironic forage, cloud bread beard ethical
            locavore raw denim succulents art party actually kale chips vegan pug edison bulb. Affogato paleo street art
            literally offal. Plaid fashion axe artisan cred photo booth mumblecore venmo gentrify meditation thundercats
            raclette. Narwhal leggings pinterest XOXO, try-hard activated charcoal pour-over fashion axe typewriter.
            Tofu authentic green juice helvetica synth pitchfork man braid humblebrag YOLO paleo live-edge viral.
            Chambray intelligentsia blog, vice messenger bag tousled wayfarers put a bird on it. Neutra chillwave
            food truck umami helvetica coloring book man braid taxidermy franzen. Bicycle rights disrupt keytar,
            bespoke echo park letterpress wayfarers.</p>
    </div>
{% endblock %}
