{# src/MBLBundle/Resources/views/Users/addProfil.html.twig #}

{% extends 'MBLBundle::layout.html.twig' %}

{% block titreH2 %}<h2>Nouveau Profil</h2>{% endblock %}

{% block body %}
    <div>
        {{ form(form) }}
    </div>
{% endblock %}