{# src/MBLBundle/Resources/views/Users/addProjet.html.twig #}

{% extends 'MBLBundle::layout.html.twig' %}

{% block titreH2 %}<h2>Nouveau Projet</h2>{% endblock %}

{% block body %}
<div>
    {{ form_start(form) }}
    {{ form_errors(form) }}


    {{ form_end(form) }}

</div>
{% endblock %}