{# src/MBLBundle/Resources/views/Users/addProjet.html.twig #}

{% extends 'MBLBundle::layout.html.twig' %}

{% block titreH2 %}<h2>Nouveau Projet</h2>{% endblock %}

{% block body %}
<div class="form_projet">
    {{ form(form) }}
</div>
{% endblock %}