{% extends '@MBL/layout.html.twig' %}
{% block titreH2 %} <h2>Mon compte</h2> {% endblock %}


{% block body %}
<div class="UHP">
    <div class="row btnlink">
        <div class="col s3 offset-s3">
            <a class="waves-effect waves-light btn" href="{{ path('editProfil') }}">Gérer mon profil</a>
        </div>
        <div class="col s3">
            <a class="waves-effect waves-light btn" href="{{ path('showProfil') }}">Voir mon profil public</a>
        </div>
     </div>

    <div class="row btnlink">
        <div class="col s3 offset-s3">
            <a class="waves-effect waves-light btn" href="{{ path('createProjet') }}">Créer un projet</a>
        </div>
        <div class="col s3">
            <a class="waves-effect waves-light btn" href="{{ path('showMyProject') }}">Gérer mes projets</a>
        </div>
    </div>

    <div class="row btnlink btnlink1 ">
        <div class="col s3 offset-s3">
            <a class="waves-effect waves-light btn" href="#">Mes discussions</a>
        </div>
    </div>
</div>

{% endblock %}