{% extends '@MBL/layout.html.twig' %}

{% block bandeau %}
    {% block titreH2 %}
        <h2>Bonjour mon amie</h2>
        {% endblock %}
{% endblock %}


{% block body %}
Hello World!
{% endblock %}