{% extends '@MBL/layout.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/mbl/css/index.css') }}" />
{% endblock %}

{% block bandeau %}
    {% block titreH2 %}
        <h2>Bonjour mon amie</h2>
        {% endblock %}
{% endblock %}


{% block body %}
Hello World!


 {% block body %}

{% endblock %}