<div class="group-text">
    <input type="hidden" value="{{ text.id }}"/>
    <b><i> {{ text.profil }} </i></b>
    <span> à {{ text.dateCreation|date('H:i:s') }}</span>
    <p> {{ text.msg }} </p>
</div>