/*
Variable globale

CONSTANTE
*/
/* line 12, ../sass/_global.scss */
img {
  width: 100%;
}

/*
Font
*/
/* line 20, ../sass/_global.scss */
* {
  text-align: justify;
}

/*
Variable globale

BALISE
*/
/* line 30, ../sass/_global.scss */
h1 {
  font-size: 1.5em;
  color: white;
}

/* line 35, ../sass/_global.scss */
h3 {
  font-size: 1.5em;
}

/*
  Condition pour color font H2
@function colorH2($bkgColor) {
  $colorH2: '';

  @if ($bkgColor == 'bleu') {
    $colorH2: white;
  } @else if ($bkgColor == 'gris') {
    $colorH2: black;
  }
  @return $colorH2;
*/
/* line 50, ../sass/_global.scss */
h2 {
  color: white;
  text-align: center;
}

/* line 55, ../sass/_global.scss */
body {
  background-color: #f0f0f0;
}

/* line 5, ../sass/formCreatePro.scss */
#formCreatePro label.required:after {
  content: "*";
}
/* line 8, ../sass/formCreatePro.scss */
#formCreatePro label {
  color: dimgrey;
  font-weight: bold;
  font-size: 1.5em;
}
/* line 14, ../sass/formCreatePro.scss */
#formCreatePro p {
  border: 1.5px solid lightgray;
  border-radius: 10px;
}
/* line 19, ../sass/formCreatePro.scss */
#formCreatePro .container {
  margin-top: 20px;
  margin-bottom: 20px;
}
/* line 24, ../sass/formCreatePro.scss */
#formCreatePro .btn {
  margin-bottom: 20px;
}
/* line 29, ../sass/formCreatePro.scss */
#formCreatePro input:not([type]), #formCreatePro input[type=text], #formCreatePro input[type=password], #formCreatePro input[type=email], #formCreatePro input[type=url], #formCreatePro input[type=time],
#formCreatePro input[type=date], #formCreatePro input[type=datetime], #formCreatePro input[type=datetime-local], #formCreatePro input[type=tel], #formCreatePro input[type=number],
#formCreatePro input[type=search], #formCreatePro textarea.materialize-textarea {
  border-bottom: none;
  border: 1.5px solid lightgray;
  border-radius: 10px;
}
