/*
Variable globale

CONSTANTE
*/
/*
Variable globale

BALISE
*/
/* line 15, ../sass/global.scss */
h1 {
  color: white;
}

/*
  Condition pour color font H2
@function colorH2($bkgColor) {
  $colorH2: '';

  @if ($bkgColor == 'bleu') {
    $colorH2: white;
  } @else if ($bkgColor == 'gris') {
    $colorH2: black;
  }
  @return $colorH2;
}
*/
