/*
Variable globale

CONSTANTE
*/
/*
Variable globale

BALISE
*/
/* line 18, ../sass/global.scss */
h1 {
  size: 1.5em;
  color: white;
}

/*
  Condition pour color font H2
@function colorH2($bkgColor) {
  $colorH2: '';

  @if ($bkgColor == 'bleu') {
    $colorH2: white;
  } @else if ($bkgColor == 'gris') {
    $colorH2: black;
  }
  @return $colorH2;
*/
/* line 36, ../sass/global.scss */
h2 {
  color: white;
}


/* line 25, ../sass/global.scss */

body {
  background-color: #f0f0f0;
}

/* line 4, ../sass/index.scss */
.bandeau_homepage {
  width: 100%;
  margin: 0;
  background: #98d4e1;
  color: white;
  padding-top: 2000px;
}
/* line 10, ../sass/index.scss */
.bandeau_homepage h2 {
  font-size: 1.5em;
}

/* line 15, ../sass/index.scss */
.container {
  width: 100%;
  margin: 0;
  padding: 0;
}

/* line 20, ../sass/index.scss */
h1 {
  width: 100%;
}

/* line 24, ../sass/index.scss */
.btn_bandeau_homepage {
  background-color: white;
  color: #98d4e1;
  box-shadow: 2px 2px 3px grey;
}
/* line 28, ../sass/index.scss */
.btn_bandeau_homepage:hover {
  background-color: white;
}
/* line 31, ../sass/index.scss */
.btn_bandeau_homepage:focus {
  background-color: white;
}

/* line 36, ../sass/index.scss */
.Outils {
  padding-top: 70px;
}

/* line 39, ../sass/index.scss */
.btn_eBusta {
  margin-top: 40px;
}

/* line 42, ../sass/index.scss */
.Finance {
  margin-top: 30px;
}
