/*
Variable globale

CONSTANTE
*/
/*
Font
*/
/* line 17, ../sass/global.scss */
* {
  text-align: justify;
}

/*
Variable globale

BALISE
*/
/* line 27, ../sass/global.scss */
h1 {
  size: 1.5em;
  color: white;
}

/*
  Condition pour color font H2
@function colorH2($bkgColor) {
  $colorH2: '';

  @if ($bkgColor == 'bleu') {
    $colorH2: white;
  } @else if ($bkgColor == 'gris') {
    $colorH2: black;
  }
  @return $colorH2;
*/
/* line 45, ../sass/global.scss */
h2 {
  color: white;
}

/* line 49, ../sass/global.scss */
body {
  background-color: #f0f0f0;
}

/* line 4, ../sass/index.scss */
.bandeau_homepage {
  width: 100%;
  margin: 0;
  background: #98d4e1;
  color: white;
  padding-top: 2000px;
}
/* line 10, ../sass/index.scss */
.bandeau_homepage h2 {
  font-size: 1.5em;
}

/* line 16, ../sass/index.scss */
.btn_bandeau_homepage {
  background-color: white;
  color: #98d4e1;
  box-shadow: 2px 2px 3px grey;
}
/* line 20, ../sass/index.scss */
.btn_bandeau_homepage:hover {
  background-color: white;
}
/* line 23, ../sass/index.scss */
.btn_bandeau_homepage:focus {
  background-color: white;
}

/* line 27, ../sass/index.scss */
.Outils {
  padding-top: 70px;
}

/* line 30, ../sass/index.scss */
.btn_eBusta {
  margin-top: 40px;
}

/* line 33, ../sass/index.scss */
.Finance {
  margin-top: 30px;
}
