/*
Variable globale

CONSTANTE
*/
/*
Font
*/
/* line 17, ../sass/global.scss */
* {
  text-align: justify;
}

/*
Variable globale

BALISE
*/
/* line 27, ../sass/global.scss */
h1 {
  size: 1.5em;
  color: white;
}

/*
  Condition pour color font H2
@function colorH2($bkgColor) {
  $colorH2: '';

  @if ($bkgColor == 'bleu') {
    $colorH2: white;
  } @else if ($bkgColor == 'gris') {
    $colorH2: black;
  }
  @return $colorH2;
*/
/* line 45, ../sass/global.scss */
h2 {
  color: white;
}

/* line 49, ../sass/global.scss */
body {
  background-color: #f0f0f0;
}

/*
Layout.html.twig
*/
/* line 5, ../sass/layout.scss */
.header {
  color: #98d4e1;
  background-color: #f0f0f0;
}

/* line 10, ../sass/layout.scss */
.footer {
  background-color: #4b494b;
}

/* line 14, ../sass/layout.scss */
.bandeau {
  height: 120px;
  background-color: #98d4e1;
  color: White;
  text-align: center;
  padding-top: 5px;
}

/* line 25, ../sass/layout.scss */
.bandeauH2 {
  color: White;
  text-align: center;
}
