/*
Variable globale

CONSTANTE
*/
/*
Variable globale

BALISE
*/
/* line 16, ../sass/global.scss */
h1 {
  size: 1.5em;
  color: white;
}

/* line 21, ../sass/global.scss */
h2 {
  color: white;
}

/* line 25, ../sass/global.scss */
body {
  background-color: #f0f0f0;
}

/*
Layout.html.twig
*/
/* line 5, ../sass/layout.scss */
.header {
  background-color: #f0f0f0;
}

/* line 9, ../sass/layout.scss */
.footer {
  background-color: #4b494b;
}

/* line 13, ../sass/layout.scss */
.bandeau {
  height: 120px;
  background-color: #98d4e1;
  color: White;
  text-align: center;
  padding-top: 5px;
}

/* line 25, ../sass/layout.scss */
.color {
  color: #98d4e1;
}

/* line 29, ../sass/layout.scss */
.bandeauH2 {
  color: White;
}
