/*
Variable globale

CONSTANTE
*/
/*
Variable globale

BALISE
*/
/* line 15, ../sass/global.scss */
h1 {
  color: white;
}

/*
  Condition pour color font H2
@function colorH2($bkgColor) {
  $colorH2: '';

  @if ($bkgColor == 'bleu') {
    $colorH2: white;
  } @else if ($bkgColor == 'gris') {
    $colorH2: black;
  }
  @return $colorH2;
}
*/
/*
Layout.html.twig
*/
/* line 5, ../sass/layout.scss */
.header {
  background-color: #98d4e1;
}

/* line 9, ../sass/layout.scss */
.footer {
  background-color: #98d4e1;
}

/* line 13, ../sass/layout.scss */
.bandeau {
  border-top: 3px solid white;
  border-bottom: 3px solid white;
  height: 120px;
  background-color: cornflowerblue;
}

/* line 21, ../sass/layout.scss */
.bandeauH2 {
  color: #f0f0f0;
  text-align: center;
}
