/* 1. GLOBALE */
/*
Variable globale

CONSTANTE
*/
/*
Font
*/
/* line 20, ../sass/_global.scss */
* {
  text-align: justify;
}

/*
Variable globale

BALISE
*/
/* line 30, ../sass/_global.scss */
h1 {
  font-size: 1.5em;
  color: white;
}

/* line 35, ../sass/_global.scss */
h3 {
  font-size: 1.5em;
}

/*
  Condition pour color font H2
@function colorH2($bkgColor) {
  $colorH2: '';

  @if ($bkgColor == 'bleu') {
    $colorH2: white;
  } @else if ($bkgColor == 'gris') {
    $colorH2: black;
  }
  @return $colorH2;
*/
/* line 50, ../sass/_global.scss */
h2 {
  color: white;
  text-align: center;
}

/* line 55, ../sass/_global.scss */
body {
  background-color: #f0f0f0;
}

/* line 60, ../sass/_global.scss */
a {
  color: inherit;
}

/* line 63, ../sass/_global.scss */
.vignette_projet {
  background-color: #4b494b;
  border-radius: 8px;
  margin-bottom: 10px;
  height: 30em;
  border: 2px solid #98d4e1;
  max-width: 300px;
}

/* line 73, ../sass/_global.scss */
.vignette_projet:hover {
  background-color: #98d4e1;
}

/* line 76, ../sass/_global.scss */
.vignette_profil {
  background-color: #98d4e1;
  border-radius: 8px;
  margin-bottom: 10px;
  height: 30em;
  border: 2px solid #98d4e1;
  max-width: 300px;
}

/* line 87, ../sass/_global.scss */
.vignette_profil:hover {
  background-color: #4b494b;
}

/* line 90, ../sass/_global.scss */
.info_projet {
  border-radius: 8px;
  overflow: scroll;
}

/* line 94, ../sass/_global.scss */
.vignette {
  border-radius: 8px;
}

/* line 97, ../sass/_global.scss */
.photo_profil {
  border-radius: 8px;
}

/* line 101, ../sass/_global.scss */
.photo_profil img {
  height: 7em;
  max-width: 120px;
  max-height: 100px;
}

/* line 106, ../sass/_global.scss */
.photo_profil, .info_projet, .info_profil {
  background: white;
}

/* line 111, ../sass/_global.scss */
.info_projet {
  height: 16em;
}

/* line 115, ../sass/_global.scss */
h6 {
  font-weight: bold;
}

/* line 119, ../sass/_global.scss */
.select-dropdown {
  border-radius: 10px;
}

/* line 122, ../sass/_global.scss */
.dropdown-content li > a, .dropdown-content li > span {
  color: #4b494b;
}

/* 2. INDEX */
/* line 3, ../sass/_index.scss */
#index .bandeau_homepage {
  width: 100%;
  margin: 0;
  background: #98d4e1;
  color: white;
}
/* line 9, ../sass/_index.scss */
#index .bandeau_homepage h2 {
  font-size: 1.5em;
}
/* line 14, ../sass/_index.scss */
#index .btn_bandeau_homepage {
  background-color: white;
  color: #98d4e1;
  box-shadow: 2px 2px 3px grey;
}
/* line 18, ../sass/_index.scss */
#index .btn_bandeau_homepage:hover {
  background-color: white;
}
/* line 21, ../sass/_index.scss */
#index .btn_bandeau_homepage:focus {
  background-color: white;
}
/* line 25, ../sass/_index.scss */
#index .Outils {
  padding-top: 70px;
}
/* line 28, ../sass/_index.scss */
#index .btn_eBusta {
  margin-top: 40px;
}
/* line 31, ../sass/_index.scss */
#index .Finance {
  margin-top: 30px;
}
/* line 35, ../sass/_index.scss */
#index .box_projet_profil * {
  text-align: center;
}

/* 3. LAYOUT */
/*
Layout.html.twig
*/
/* line 5, ../sass/_layout.scss */
.header {
  background-color: #f0f0f0;
}

/* line 10, ../sass/_layout.scss */
.footer {
  background-color: #4b494b;
}

/* line 15, ../sass/_layout.scss */
.bandeau {
  height: 120px;
  background-color: #98d4e1;
  color: White;
  text-align: center;
  padding-top: 5px;
}

/* line 26, ../sass/_layout.scss */
.color {
  color: #98d4e1;
}

/* line 30, ../sass/_layout.scss */
.bandeauH2 {
  color: White;
}

/* line 34, ../sass/_layout.scss */
.dropdown-content li > a {
  color: #4b494b;
}

/* line 38, ../sass/_layout.scss */
.modal .tabs {
  margin: 0;
  padding: 0;
  background-color: #98d4e1;
}
/* line 43, ../sass/_layout.scss */
.modal .tab a {
  color: grey;
}
/* line 47, ../sass/_layout.scss */
.modal .tab a:hover {
  color: #4b494b;
}
/* line 50, ../sass/_layout.scss */
.modal .tab a.active {
  color: #4b494b;
}
/* line 53, ../sass/_layout.scss */
.modal .tabs .indicator {
  background-color: #4b494b;
}

/* line 58, ../sass/_layout.scss */
#Connexion, #register {
  margin-top: 25px;
}

/* line 61, ../sass/_layout.scss */
.remember {
  margin-top: 10px;
}

/* line 64, ../sass/_layout.scss */
[type="checkbox"]:checked + label:before {
  border-right: 2px solid #4b494b;
  border-bottom: 2px solid #4b494b;
}

/* line 70, ../sass/_layout.scss */
.submitRegister {
  margin-top: 55px;
}

/* line 73, ../sass/_layout.scss */
.moreRegisterHidden {
  display: none;
}

/* line 76, ../sass/_layout.scss */
.moreRegister {
  margin-top: 25px;
}

/* line 79, ../sass/_layout.scss */
textarea#fos_user_registration_form_description {
  height: 10em;
}

/* line 83, ../sass/_layout.scss */
#fos_user_registration_form_description {
  border: 1.5px solid lightgray;
  border-radius: 10px;
  outline: none;
}

/* line 88, ../sass/_layout.scss */
input, button {
  border: 1.5px solid lightgray !important;
  border-radius: 10px !important;
  outline: none;
}

/* line 93, ../sass/_layout.scss */
#login .btn, #register .btn {
  background: #98d4e1 !important;
}

/* line 97, ../sass/_layout.scss */
#username:focus, #password:focus, #fos_user_registration_form_description:focus, .customRegister:focus {
  border: 1.5px solid #98d4e1 !important;
  border-radius: 10px;
  outline: none !important;
  box-shadow: none !important;
}

/* line 7, ../sass/_userHomepage.scss */
#homepage .UHP {
  width: 100%;
  padding-top: 100px;
}
/* line 12, ../sass/_userHomepage.scss */
#homepage .btnlink {
  text-align: center;
  height: 100px;
}
/* line 17, ../sass/_userHomepage.scss */
#homepage .btnlink1 {
  margin-bottom: 40px;
}
/* line 21, ../sass/_userHomepage.scss */
#homepage .btn {
  background-color: #98d4e1;
  width: 300px;
}
/* line 24, ../sass/_userHomepage.scss */
#homepage .btn:hover {
  background-color: #98d4e1;
  box-shadow: 2px 2px 3px grey;
}
/* line 29, ../sass/_userHomepage.scss */
#homepage .btn:focus {
  background-color: #98d4e1;
}

/* line 2, ../sass/_showProject.scss */
.showProjet {
  height: 100%;
}
/* line 4, ../sass/_showProject.scss */
.showProjet input:not([type]), .showProjet input[type=text], .showProjet input[type=password], .showProjet input[type=email], .showProjet input[type=url], .showProjet input[type=time],
.showProjet input[type=date], .showProjet input[type=datetime], .showProjet input[type=datetime-local], .showProjet input[type=tel], .showProjet input[type=number],
.showProjet input[type=search], .showProjet textarea.materialize-textarea {
  border-bottom: none;
  border: 1.5px solid lightgray;
  border-radius: 10px;
}
/* line 11, ../sass/_showProject.scss */
.showProjet .box_projet * {
  text-align: center;
}

/* line 3, ../sass/_showMyProject.scss */
#showMyProjet {
  margin-top: 50px;
}
/* line 5, ../sass/_showMyProject.scss */
#showMyProjet .vignette_Myprojet {
  background-color: #4b494b;
  border-radius: 8px;
  margin-bottom: 10px;
  height: 35em;
  border: 2px solid #98d4e1;
  max-width: 300px;
}
/* line 17, ../sass/_showMyProject.scss */
#showMyProjet .vignette_Myprojet:hover {
  background-color: #98d4e1;
}
/* line 24, ../sass/_showMyProject.scss */
#showMyProjet .divform {
  max-width: 130px;
}

/*
registration
*/
/* line 5, ../sass/_registration.scss */
.register_must {
  /*background-color: $Colorblue !important;*/
}

/* line 12, ../sass/_registration.scss */
label {
  color: dimgrey;
  font-weight: bold;
  font-size: 1.3em;
}

/* line 17, ../sass/_registration.scss */
h1 {
  font-weight: bold;
  font-size: 1.7em;
}

/* line 25, ../sass/_registration.scss */
input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url],
input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number],
input[type=search], textarea.materialize-textarea {
  border-bottom: none;
  border: 1.5px solid lightgray;
  border-radius: 10px;
}

/* line 5, ../sass/_formCreate.scss */
#createProjet label.required:after {
  content: "*";
}
/* line 8, ../sass/_formCreate.scss */
#createProjet label {
  color: #4b494b;
  font-size: 1.5em;
}
/* line 13, ../sass/_formCreate.scss */
#createProjet .container {
  margin-top: 20px;
  margin-bottom: 20px;
}
/* line 18, ../sass/_formCreate.scss */
#createProjet .btn {
  margin-bottom: 20px;
}
/* line 23, ../sass/_formCreate.scss */
#createProjet .select-wrapper {
  border-radius: 10px;
}
/* line 27, ../sass/_formCreate.scss */
#createProjet input:not([type]), #createProjet input[type=text], #createProjet input[type=password], #createProjet input[type=email], #createProjet input[type=url], #createProjet input[type=time],
#createProjet input[type=date], #createProjet input[type=datetime], #createProjet input[type=datetime-local], #createProjet input[type=tel], #createProjet input[type=number],
#createProjet input[type=search], #createProjet #mblbundle_projet_description, #createProjet #mblbundle_projet_localisation {
  border: 1.5px solid lightgray;
  border-radius: 10px;
  outline: none;
}
/* line 35, ../sass/_formCreate.scss */
#createProjet input:focus, #createProjet #mblbundle_projet_description:focus, #createProjet #mblbundle_projet_localisation:focus {
  border: 1.5px solid #98d4e1;
  border-radius: 10px;
  outline: none;
  box-shadow: none;
}
/* line 42, ../sass/_formCreate.scss */
#createProjet .hiddenPreview {
  display: none;
}
/* line 45, ../sass/_formCreate.scss */
#createProjet textarea#mblbundle_projet_description {
  height: 10em;
}
/* line 48, ../sass/_formCreate.scss */
#createProjet .submitProjet {
  margin: auto;
  display: block;
  margin-bottom: 10px;
}
/* line 53, ../sass/_formCreate.scss */
#createProjet img {
  width: 100%;
}
/* line 56, ../sass/_formCreate.scss */
#createProjet ul li span {
  color: #4b494b;
}

/* line 2, ../sass/_formCreatePro.scss */
#formCreatePro {
  margin-top: 50px;
}
/* line 6, ../sass/_formCreatePro.scss */
#formCreatePro .vignette_projet_profilAdd {
  background-color: #4b494b;
  border-radius: 8px;
  margin-bottom: 10px;
  height: 30em;
  border: 2px solid #f0f0f0;
  max-width: 300px;
}
/* line 17, ../sass/_formCreatePro.scss */
#formCreatePro .vignette_projet_profilAdd:hover {
  background-color: #f0f0f0;
}
/* line 21, ../sass/_formCreatePro.scss */
#formCreatePro .info_projet_profilAdd {
  border-radius: 8px;
  overflow: scroll;
  margin: 5px;
  background-color: white;
  height: 18em;
}
/* line 36, ../sass/_formCreatePro.scss */
#formCreatePro .deleteProfilR {
  margin: 10px;
}
/* line 44, ../sass/_formCreatePro.scss */
#formCreatePro label.required:after {
  content: "*";
}
/* line 47, ../sass/_formCreatePro.scss */
#formCreatePro label {
  color: dimgrey;
  font-weight: bold;
  font-size: 1.5em;
}
/* line 54, ../sass/_formCreatePro.scss */
#formCreatePro p .container {
  margin-top: 20px;
  margin-bottom: 20px;
}
/* line 59, ../sass/_formCreatePro.scss */
#formCreatePro p .btn {
  margin-bottom: 20px;
}
/* line 69, ../sass/_formCreatePro.scss */
#formCreatePro input[type=text], #formCreatePro input[type=password], #formCreatePro input[type=email], #formCreatePro input[type=url], #formCreatePro input[type=time],
#formCreatePro input[type=date], #formCreatePro input[type=datetime], #formCreatePro input[type=datetime-local], #formCreatePro input[type=tel], #formCreatePro input[type=number],
#formCreatePro input[type=search] {
  border: 1.5px solid lightgray;
  border-radius: 10px;
}
/* line 76, ../sass/_formCreatePro.scss */
#formCreatePro input:focus {
  border: 1.5px solid #98d4e1;
  border-radius: 10px;
  outline: none;
}
/* line 81, ../sass/_formCreatePro.scss */
#formCreatePro input {
  background-color: #98d4e1;
}
/* line 86, ../sass/_formCreatePro.scss */
#formCreatePro ul li span {
  color: #4b494b;
}
/* line 89, ../sass/_formCreatePro.scss */
#formCreatePro [type="checkbox"]:checked + label:before {
  border-right: 2px solid #4b494b;
  border-bottom: 2px solid #4b494b;
}

/* line 5, ../sass/_editShowProfil.scss */
.editprofil .divform {
  text-align: center;
}
/* line 8, ../sass/_editShowProfil.scss */
.editprofil .divform ul li span {
  color: #4b494b;
}
/* line 11, ../sass/_editShowProfil.scss */
.editprofil .divform [type="checkbox"]:checked + label:before {
  border-right: 2px solid #4b494b;
  border-bottom: 2px solid #4b494b;
}
/* line 18, ../sass/_editShowProfil.scss */
.editprofil textarea {
  border-radius: 8px;
  height: 10rem;
}
/* line 22, ../sass/_editShowProfil.scss */
.editprofil .sltbox input {
  border: 2px solid lightgray;
  background-color: #98d4e1;
}
/* line 26, ../sass/_editShowProfil.scss */
.editprofil .sltbox span {
  z-index: 1;
  color: black;
}
/* line 30, ../sass/_editShowProfil.scss */
.editprofil .btnright a {
  float: right;
}
/* line 33, ../sass/_editShowProfil.scss */
.editprofil .hiddenPreview {
  display: none;
}
/* line 36, ../sass/_editShowProfil.scss */
.editprofil img {
  width: 100%;
}
/* line 39, ../sass/_editShowProfil.scss */
.editprofil input:not([type]), .editprofil input[type=text], .editprofil input[type=password], .editprofil input[type=email], .editprofil input[type=url], .editprofil input[type=time],
.editprofil input[type=date], .editprofil input[type=datetime], .editprofil input[type=datetime-local], .editprofil input[type=tel], .editprofil input[type=number],
.editprofil input[type=search], .editprofil #mblbundle_profil_description {
  border: 1.5px solid lightgray;
  border-radius: 10px;
  outline: none;
}
/* line 47, ../sass/_editShowProfil.scss */
.editprofil input:focus, .editprofil #mblbundle_profil_description:focus {
  border: 1.5px solid #98d4e1;
  border-radius: 10px;
  box-shadow: none;
}

/* line 58, ../sass/_editShowProfil.scss */
.showprofil .cartepro {
  border: 1px solid red;
  background-color: #98d4e1;
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 8px;
}
/* line 68, ../sass/_editShowProfil.scss */
.showprofil .imgpro {
  text-align: center;
  background-color: white;
  margin: 0;
  padding: 0;
  margin-top: 3%;
  border-radius: 8px;
}
/* line 79, ../sass/_editShowProfil.scss */
.showprofil .imgpro img {
  width: 60%;
}

/* line 2, ../sass/_showAllProfils.scss */
#showAllProfils {
  margin-top: 50px;
}
/* line 6, ../sass/_showAllProfils.scss */
#showAllProfils .box_projet * {
  text-align: center;
}
/* line 11, ../sass/_showAllProfils.scss */
#showAllProfils .vignette_profil_all {
  background-color: #98d4e1;
  border-radius: 8px;
  margin-bottom: 10px;
  height: 35em;
  border: 2px solid #98d4e1;
  max-width: 300px;
}
/* line 22, ../sass/_showAllProfils.scss */
#showAllProfils .vignette_profil_all:hover {
  background-color: #4b494b;
}

/*
chat.html.twig
*/
/* line 5, ../sass/_chat.scss */
#chat {
  margin-top: 50px;
}
/* line 8, ../sass/_chat.scss */
#chat .chat_box {
  border: 2px solid #98d4e1;
  border-radius: 10px;
  color: #4b494b;
  height: 80px;
  margin-top: 5px;
  background-color: #98d4e1;
}
/* line 18, ../sass/_chat.scss */
#chat .chat_box:hover {
  background-color: #f0f0f0;
}
/* line 22, ../sass/_chat.scss */
#chat .chat_box_user {
  border: 2px solid #98d4e1;
  border-radius: 10px;
  color: #f0f0f0;
  height: 80px;
  margin-top: 5px;
  background-color: #98d4e1;
}
/* line 39, ../sass/_chat.scss */
#chat #chat_text {
  color: #4b494b;
  margin-top: 5px;
  border: 2px solid #98d4e1;
  border-radius: 10px;
}
/* line 47, ../sass/_chat.scss */
#chat .Nom_prenom p {
  color: #4b494b;
  font-size: 1.1em;
}
/* line 53, ../sass/_chat.scss */
#chat .color-text {
  border: 1px solid #98d4e1;
  background-color: #98d4e1;
  border-radius: 10px;
}
/* line 60, ../sass/_chat.scss */
#chat .color-text-user {
  border: 1px solid #98d4e1;
  border-radius: 10px;
}
/* line 89, ../sass/_chat.scss */
#chat .group-text {
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #98d4e1;
}

/*
chat.html.twig
*/
/* line 5, ../sass/_chatConnection.scss */
#chat_connection {
  margin-top: 50px;
}
/* line 8, ../sass/_chatConnection.scss */
#chat_connection .connected {
  margin-top: 15px;
  color: black;
  border: 1px solid #c8c8c8;
  border-radius: 10px;
}
/* line 16, ../sass/_chatConnection.scss */
#chat_connection .Nom_prenom p {
  margin-left: 50px;
  color: #4b494b;
  font-size: 1.2em;
}
/* line 22, ../sass/_chatConnection.scss */
#chat_connection .image img {
  height: 80px;
}
/* line 51, ../sass/_chatConnection.scss */
#chat_connection .group-text {
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #c8c8c8;
}

/* line 3, ../sass/_showOneProject.scss */
#oneProject {
  padding: 0;
  margin: 0;
}
/* line 7, ../sass/_showOneProject.scss */
#oneProject .presProjet {
  padding: 0;
  margin: 0;
}
/* line 11, ../sass/_showOneProject.scss */
#oneProject .creeLePar {
  color: grey;
  font-style: italic;
}
/* line 15, ../sass/_showOneProject.scss */
#oneProject a.site {
  color: darkcyan;
}
/* line 18, ../sass/_showOneProject.scss */
#oneProject a.site:hover {
  color: darkslategray;
  text-decoration: underline;
}
/* line 25, ../sass/_showOneProject.scss */
#oneProject .cartepro {
  border: none;
  background-color: #98d4e1;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 20px;
  border-radius: 8px;
}
/* line 33, ../sass/_showOneProject.scss */
#oneProject .imgPhoto img {
  height: 17em;
}

/* line 2, ../sass/_editProject.scss */
#editProject {
  margin-top: 50px;
}
/* line 5, ../sass/_editProject.scss */
#editProject .bouttonAjout {
  margin-bottom: 50px;
}
/* line 9, ../sass/_editProject.scss */
#editProject .modif {
  margin-bottom: 50px;
}
/* line 13, ../sass/_editProject.scss */
#editProject .editbtn {
  margin-top: 10px;
}
/* line 16, ../sass/_editProject.scss */
#editProject .vignette_projet_profilAdd {
  background-color: #4b494b;
  border-radius: 8px;
  margin-bottom: 10px;
  height: 33em;
  border: 2px solid #f0f0f0;
  max-width: 300px;
}
/* line 24, ../sass/_editProject.scss */
#editProject .vignette_projet_profilAdd:hover {
  background-color: #f0f0f0;
}
/* line 28, ../sass/_editProject.scss */
#editProject .info_projet_profilAdd {
  border-radius: 8px;
  overflow: scroll;
  margin: 5px;
  background-color: white;
  height: 18em;
}

/* line 3, ../sass/_showMyProfil.scss */
#myProfil {
  margin-top: 50px;
}
/* line 6, ../sass/_showMyProfil.scss */
#myProfil .showProfil {
  border: 2px solid #98d4e1;
  background-color: #98d4e1;
  border-radius: 10px;
  margin-bottom: 50px;
}
/* line 13, ../sass/_showMyProfil.scss */
#myProfil a.site {
  color: darkcyan;
}
/* line 16, ../sass/_showMyProfil.scss */
#myProfil a.site:hover {
  color: darkslategray;
  text-decoration: underline;
}
/* line 20, ../sass/_showMyProfil.scss */
#myProfil .linkedIn {
  align-items: center;
}
/* line 23, ../sass/_showMyProfil.scss */
#myProfil .imgPhoto img {
  height: 17em;
}
/* line 29, ../sass/_showMyProfil.scss */
#myProfil .divform {
  text-align: center;
  margin-bottom: 25px;
}

/* line 3, ../sass/_showOneProfil.scss */
#oneProfil {
  margin-top: 50px;
}
/* line 6, ../sass/_showOneProfil.scss */
#oneProfil .showProfil {
  border: 2px solid #98d4e1;
  background-color: #98d4e1;
  border-radius: 10px;
}
/* line 12, ../sass/_showOneProfil.scss */
#oneProfil a.site {
  color: darkcyan;
}
/* line 15, ../sass/_showOneProfil.scss */
#oneProfil a.site:hover {
  color: darkslategray;
  text-decoration: underline;
}
/* line 19, ../sass/_showOneProfil.scss */
#oneProfil .linkedIn {
  align-items: center;
}
/* line 22, ../sass/_showOneProfil.scss */
#oneProfil .imgPhoto img {
  height: 17em;
}
