/* 1. GLOBALE */
/*
Variable globale

CONSTANTE
*/
/* line 12, ../sass/_global.scss */
img {
  width: 100%;
}

/*
Font
*/
/* line 20, ../sass/_global.scss */
* {
  text-align: justify;
}

/*
Variable globale

BALISE
*/
/* line 30, ../sass/_global.scss */
h1 {
  font-size: 1.5em;
  color: white;
}

/* line 35, ../sass/_global.scss */
h3 {
  font-size: 1.5em;
}

/*
  Condition pour color font H2
@function colorH2($bkgColor) {
  $colorH2: '';

  @if ($bkgColor == 'bleu') {
    $colorH2: white;
  } @else if ($bkgColor == 'gris') {
    $colorH2: black;
  }
  @return $colorH2;
*/
/* line 50, ../sass/_global.scss */
h2 {
  color: white;
  text-align: center;
}

/* line 55, ../sass/_global.scss */
body {
  background-color: #f0f0f0;
}

/* 2. INDEX */
/* line 3, ../sass/_index.scss */
#index .bandeau_homepage {
  width: 100%;
  margin: 0;
  background: #98d4e1;
  color: white;
}
/* line 8, ../sass/_index.scss */
#index .bandeau_homepage h2 {
  font-size: 1.5em;
}
/* line 14, ../sass/_index.scss */
#index .btn_bandeau_homepage {
  background-color: white;
  color: #98d4e1;
  box-shadow: 2px 2px 3px grey;
}
/* line 18, ../sass/_index.scss */
#index .btn_bandeau_homepage:hover {
  background-color: white;
}
/* line 21, ../sass/_index.scss */
#index .btn_bandeau_homepage:focus {
  background-color: white;
}
/* line 25, ../sass/_index.scss */
#index .Outils {
  padding-top: 70px;
}
/* line 28, ../sass/_index.scss */
#index .btn_eBusta {
  margin-top: 40px;
}
/* line 31, ../sass/_index.scss */
#index .Finance {
  margin-top: 30px;
}
/* line 35, ../sass/_index.scss */
#index .box_projet_profil * {
  text-align: center;
}
/* line 38, ../sass/_index.scss */
#index .box_projet_profil * .vignette_projet {
  background-color: #4b494b;
  border-radius: 8px;
  margin-bottom: 10px;
  height: 650px;
}
/* line 44, ../sass/_index.scss */
#index .box_projet_profil * .vignette_profil {
  background-color: #98d4e1;
  border-radius: 8px;
  margin-bottom: 10px;
  height: 650px;
}
/* line 51, ../sass/_index.scss */
#index .box_projet_profil * .info_projet, #index .box_projet_profil * .info_profil {
  border-radius: 8px;
}
/* line 54, ../sass/_index.scss */
#index .box_projet_profil * .vignette {
  border-radius: 8px;
}
/* line 57, ../sass/_index.scss */
#index .box_projet_profil * .photo_profil {
  border-radius: 8px;
  padding: 10px;
}
/* line 62, ../sass/_index.scss */
#index .photo_profil, #index .info_projet, #index .info_profil {
  background: white;
  margin-bottom: 10px;
  height: 60%;
}

/* 3. LAYOUT */
/*
Layout.html.twig
*/
/* line 5, ../sass/_layout.scss */
.header {
  background-color: #f0f0f0;
}

/* line 9, ../sass/_layout.scss */
.footer {
  background-color: #4b494b;
}

/* line 13, ../sass/_layout.scss */
.bandeau {
  height: 120px;
  background-color: #98d4e1;
  color: White;
  text-align: center;
  padding-top: 5px;
}

/* line 25, ../sass/_layout.scss */
.color {
  color: #98d4e1;
}

/* line 29, ../sass/_layout.scss */
.bandeauH2 {
  color: White;
}

/* line 3, ../sass/_userHomepage.scss */
.UHP {
  width: 100%;
  padding-top: 100px;
}

/* line 8, ../sass/_userHomepage.scss */
.btnlink {
  text-align: center;
  height: 100px;
}

/* line 13, ../sass/_userHomepage.scss */
.btnlink1 {
  margin-bottom: 40px;
}

/* line 17, ../sass/_userHomepage.scss */
.btn {
  background-color: #98d4e1;
}
/* line 19, ../sass/_userHomepage.scss */
.btn:hover {
  background-color: #98d4e1;
  box-shadow: 2px 2px 3px grey;
}
/* line 24, ../sass/_userHomepage.scss */
.btn:focus {
  background-color: #98d4e1;
}

/* line 2, ../sass/_showProject.scss */
.showProjet {
  height: 100%;
}
/* line 4, ../sass/_showProject.scss */
.showProjet .box_projet * {
  text-align: center;
  height: 100%;
}
/* line 7, ../sass/_showProject.scss */
.showProjet .box_projet * .vignette_projet {
  padding: 2%;
  height: 100%;
}
/* line 11, ../sass/_showProject.scss */
.showProjet .box_projet * .vignette_projet .content {
  background-color: #4b494b;
  border-radius: 8px;
}
/* line 16, ../sass/_showProject.scss */
.showProjet .box_projet * .info_projet {
  border-radius: 8px;
  margin: 15px;
}
/* line 20, ../sass/_showProject.scss */
.showProjet .box_projet * .vignette {
  border-radius: 8px;
}
/* line 23, ../sass/_showProject.scss */
.showProjet .box_projet * .photo_profil {
  border-radius: 8px;
  padding: 10px;
}
/* line 27, ../sass/_showProject.scss */
.showProjet .box_projet * .photo_profil, .showProjet .box_projet * .info_projet, .showProjet .box_projet * .info_profil {
  background: white;
  height: 60%;
}

/* line 3, ../sass/_showMyProject.scss */
.showMyProjet {
  height: 100%;
}
/* line 5, ../sass/_showMyProject.scss */
.showMyProjet .box_projet * {
  text-align: center;
  height: 100%;
}
/* line 8, ../sass/_showMyProject.scss */
.showMyProjet .box_projet * .vignette_projet {
  padding: 2%;
  height: 100%;
}
/* line 12, ../sass/_showMyProject.scss */
.showMyProjet .box_projet * .vignette_projet .content {
  background-color: #4b494b;
  border-radius: 8px;
}
/* line 17, ../sass/_showMyProject.scss */
.showMyProjet .box_projet * .info_projet {
  border-radius: 8px;
  margin: 15px;
}
/* line 21, ../sass/_showMyProject.scss */
.showMyProjet .box_projet * .vignette {
  border-radius: 8px;
}
/* line 24, ../sass/_showMyProject.scss */
.showMyProjet .box_projet * .photo_profil {
  border-radius: 8px;
  padding: 10px;
}
/* line 28, ../sass/_showMyProject.scss */
.showMyProjet .box_projet * .photo_profil, .showMyProjet .box_projet * .info_projet, .showMyProjet .box_projet * .info_profil {
  background: white;
  height: 60%;
}

/*
registration
*/
/* line 5, ../sass/_registration.scss */
.register_must {
  /*background-color: $Colorblue !important;*/
}

/* line 12, ../sass/_registration.scss */
label {
  color: dimgrey;
  font-weight: bold;
  font-size: 1.3em;
}

/* line 17, ../sass/_registration.scss */
h1 {
  font-weight: bold;
  font-size: 1.7em;
}

/* line 25, ../sass/_registration.scss */
input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url],
input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number],
input[type=search], textarea.materialize-textarea {
  border-bottom: none;
  border: 1.5px solid lightgray;
  border-radius: 10px;
}

/* line 5, ../sass/_formCreate.scss */
#createProjet label.required:after {
  content: "*";
}
/* line 8, ../sass/_formCreate.scss */
#createProjet label {
  color: dimgrey;
  font-weight: bold;
  font-size: 1.5em;
}
/* line 14, ../sass/_formCreate.scss */
#createProjet .container {
  margin-top: 20px;
  margin-bottom: 20px;
}
/* line 19, ../sass/_formCreate.scss */
#createProjet .btn {
  margin-bottom: 20px;
}
/* line 23, ../sass/_formCreate.scss */
#createProjet #mblbundle_projet_description, #createProjet #mblbundle_projet_localisation {
  border-radius: 10px;
}
/* line 28, ../sass/_formCreate.scss */
#createProjet .select-wrapper {
  border-radius: 10px;
}
/* line 35, ../sass/_formCreate.scss */
#createProjet input:not([type]), #createProjet input[type=text], #createProjet input[type=password], #createProjet input[type=email], #createProjet input[type=url], #createProjet input[type=time],
#createProjet input[type=date], #createProjet input[type=datetime], #createProjet input[type=datetime-local], #createProjet input[type=tel], #createProjet input[type=number],
#createProjet input[type=search], #createProjet textarea.materialize-textarea {
  border-bottom: none;
  border: 1.5px solid lightgray;
  border-radius: 10px;
}

/* line 4, ../sass/_formCreatePro.scss */
#formCreatePro .box_projet {
  background-color: #4b494b;
  border-radius: 8px;
}
/* line 8, ../sass/_formCreatePro.scss */
#formCreatePro .vignette_profil {
  padding: 2%;
  height: 100%;
}
/* line 12, ../sass/_formCreatePro.scss */
#formCreatePro .content {
  background-color: #4b494b;
  border-radius: 8px;
}
/* line 16, ../sass/_formCreatePro.scss */
#formCreatePro .info_projet * {
  text-align: center;
}
/* line 19, ../sass/_formCreatePro.scss */
#formCreatePro .photo_profil, #formCreatePro .info_projet {
  border-radius: 8px;
  padding: 10px;
  background: white;
  margin-bottom: 10px;
}
/* line 26, ../sass/_formCreatePro.scss */
#formCreatePro h4 {
  text-align: center;
  color: white;
}
/* line 30, ../sass/_formCreatePro.scss */
#formCreatePro label.required:after {
  content: "*";
}
/* line 33, ../sass/_formCreatePro.scss */
#formCreatePro label {
  color: dimgrey;
  font-weight: bold;
  font-size: 1.5em;
}
<<<<<<< HEAD
<<<<<<< HEAD
/* line 14, ../sass/formCreatePro.scss */
#formCreatePro p {
  border: 1.5px solid lightgray;
  border-radius: 10px;
}
/* line 20, ../sass/formCreatePro.scss */
#formCreatePro input:not([type]), #formCreatePro input[type=text], #formCreatePro input[type=password], #formCreatePro input[type=email], #formCreatePro input[type=url], #formCreatePro input[type=time],
#formCreatePro input[type=date], #formCreatePro input[type=datetime], #formCreatePro input[type=datetime-local], #formCreatePro input[type=tel], #formCreatePro input[type=number],
#formCreatePro input[type=search], #formCreatePro textarea.materialize-textarea {
=======
=======

>>>>>>> a6e9a6bc3501c4a17cef3926968fa67867f33e76
/* line 40, ../sass/_formCreatePro.scss */
#formCreatePro p .container {
  margin-top: 20px;
  margin-bottom: 20px;
}
/* line 45, ../sass/_formCreatePro.scss */
#formCreatePro p .btn {
  margin-bottom: 20px;
}
/* line 50, ../sass/_formCreatePro.scss */
#formCreatePro p input:not([type]), #formCreatePro p input[type=text], #formCreatePro p input[type=password], #formCreatePro p input[type=email], #formCreatePro p input[type=url], #formCreatePro p input[type=time],
#formCreatePro p input[type=date], #formCreatePro p input[type=datetime], #formCreatePro p input[type=datetime-local], #formCreatePro p input[type=tel], #formCreatePro p input[type=number],
#formCreatePro p input[type=search], #formCreatePro p textarea.materialize-textarea {
<<<<<<< HEAD
>>>>>>> eb5b1ad4fa9c2a34aacf8d562b50d14df8263bdd
=======

>>>>>>> a6e9a6bc3501c4a17cef3926968fa67867f33e76
  border-bottom: none;
  border: 1.5px solid lightgray;
  border-radius: 10px;
}
/* line 57, ../sass/_formCreatePro.scss */
#formCreatePro p .box_profil_rech {
  text-align: center;
}
