/*
Variable globale

CONSTANTE
*/
/* line 12, ../sass/_global.scss */
img {
  width: 100%;
}

/*
Font
*/
/* line 20, ../sass/_global.scss */
* {
  text-align: justify;
}

/*
Variable globale

BALISE
*/
/* line 30, ../sass/_global.scss */
h1 {
  font-size: 1.5em;
  color: white;
}

/* line 35, ../sass/_global.scss */
h3 {
  font-size: 1.5em;
}

/*
  Condition pour color font H2
@function colorH2($bkgColor) {
  $colorH2: '';

  @if ($bkgColor == 'bleu') {
    $colorH2: white;
  } @else if ($bkgColor == 'gris') {
    $colorH2: black;
  }
  @return $colorH2;
*/
/* line 50, ../sass/_global.scss */
h2 {
  color: white;
}

/* line 54, ../sass/_global.scss */
body {
  background-color: #f0f0f0;
}

/*
registration
*/
/* line 5, ../sass/registration.scss */
.register_must {
  /*background-color: $Colorblue !important;*/
}

/* line 12, ../sass/registration.scss */
label {
  color: dimgrey;
  font-weight: bold;
  font-size: 1.3em;
}

/* line 17, ../sass/registration.scss */
h1 {
  font-weight: bold;
  font-size: 1.7em;
}

/* line 25, ../sass/registration.scss */
input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url],
input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number],
input[type=search], textarea.materialize-textarea {
  border-bottom: none;
  border: 1.5px solid lightgray;
  border-radius: 10px;
}
