/*
Variable globale

CONSTANTE
*/
/* line 12, ../sass/_global.scss */
img {
  width: 100%;
}

/*
Font
*/
/* line 20, ../sass/_global.scss */
* {
  text-align: justify;
}

/*
Variable globale

BALISE
*/
/* line 30, ../sass/_global.scss */
h1 {
  font-size: 1.5em;
  color: white;
}

/* line 35, ../sass/_global.scss */
h3 {
  font-size: 1.5em;
}

/*
  Condition pour color font H2
@function colorH2($bkgColor) {
  $colorH2: '';

  @if ($bkgColor == 'bleu') {
    $colorH2: white;
  } @else if ($bkgColor == 'gris') {
    $colorH2: black;
  }
  @return $colorH2;
*/
/* line 50, ../sass/_global.scss */
h2 {
  color: white;
}

/* line 54, ../sass/_global.scss */
body {
  background-color: #f0f0f0;
}

/* line 3, ../sass/showProject.scss */
.bandeau_homepage {
  width: 100%;
  margin: 0;
  background: #98d4e1;
  color: white;
  padding-top: 2000px;
}
/* line 9, ../sass/showProject.scss */
.bandeau_homepage h2 {
  font-size: 1.5em;
}

/* line 15, ../sass/showProject.scss */
.btn_bandeau_homepage {
  background-color: white;
  color: #98d4e1;
  box-shadow: 2px 2px 3px grey;
}
/* line 19, ../sass/showProject.scss */
.btn_bandeau_homepage:hover {
  background-color: white;
}
/* line 22, ../sass/showProject.scss */
.btn_bandeau_homepage:focus {
  background-color: white;
}

/* line 26, ../sass/showProject.scss */
.Outils {
  padding-top: 70px;
}

/* line 29, ../sass/showProject.scss */
.btn_eBusta {
  margin-top: 40px;
}

/* line 32, ../sass/showProject.scss */
.Finance {
  margin-top: 30px;
}

/* line 36, ../sass/showProject.scss */
.box_projet_profil * {
  text-align: center;
}
/* line 39, ../sass/showProject.scss */
.box_projet_profil * .vignette_projet {
  background-color: #4b494b;
  border-radius: 8px;
}
/* line 43, ../sass/showProject.scss */
.box_projet_profil * .vignette_profil {
  background-color: #98d4e1;
  border-radius: 8px;
}
/* line 47, ../sass/showProject.scss */
.box_projet_profil * .info_projet, .box_projet_profil * .info_profil {
  border-radius: 8px;
}
/* line 50, ../sass/showProject.scss */
.box_projet_profil * .vignette {
  border-radius: 8px;
}
/* line 53, ../sass/showProject.scss */
.box_projet_profil * .photo_profil {
  border-radius: 8px;
  padding: 10px;
}

/* line 58, ../sass/showProject.scss */
.photo_profil, .info_projet, .info_profil {
  background: white;
  margin-bottom: 10px;
}

/* line 62, ../sass/showProject.scss */
.projet {
  margin-left: 59px;
}
