/* line 1, ../sass/userHomepage.scss */
.UHP {
  width: 100%;
  padding-top: 50px;
}

/* line 6, ../sass/userHomepage.scss */
.btnlink {
  text-align: center;
  height: 100px;
}

/* line 11, ../sass/userHomepage.scss */
.btnlink1 {
  margin-bottom: 100px;
}

/* line 15, ../sass/userHomepage.scss */
.btn {
  background-color: #98d4e1;
}
