@import 'global';
/*
chat.html.twig
*/
#chat {
  margin-top: 50px;

  .chat_box {

    border: 2px solid $Colorblue;
    border-radius: 10px;
    color: $ColorDarkGrey;
    height: 80px;
    margin-top: 5px;
    background-color: $Colorblue;

  }
  .chat_box:hover
  {
    background-color: $Colorgrey;
  }
  .chat_box_user {

    border: 2px solid $Colorblue;
    border-radius: 10px;
    color: $Colorgrey;
    height: 80px;
    margin-top: 5px;
    background-color: $Colorblue;

  }

  //#chat_box a {
  //  border: 1px solid #c8c8c8;
  //  border-radius: 10px;
  //  color: black;
  //}

    #chat_text
    {
      color: $ColorDarkGrey;
      margin-top: 5px;
      //color: $Colorblue;
      border: 2px solid $Colorblue;
      border-radius: 10px;
    }
  .Nom_prenom p
  {

    color: $ColorDarkGrey;
    font-size: 1.1em;
  }
  .color-text
  {
    border: 1px solid $Colorblue;
    background-color: $Colorblue;
    border-radius: 10px;
  }

  .color-text-user
  {
    border: 1px solid $Colorblue;

    border-radius: 10px;
  }
  //#new-text {
  //  height: 70vh;
  //  width: 80%;
  //  position: absolute;
  //  left: 20%;
  //  margin: 0;
  //  padding: 0;
  //  top: 10vh;
  //  overflow-y: scroll;
  //}

  //#textarea {
  //  position: absolute;
  //  height: 20vh;
  //  width: 80%;
  //  bottom: 0px;
  //  left: 20%;
  //  margin: 0;
  //  padding: 0;
  //  background: #f8f8f8;
  //}
  //

  .group-text {
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid $Colorblue;
  }
  //
  //p, i {
  //  color: #333;
  //  margin: 0;
  //  width: 100%;
  //  word-break: break-all;
  //}
}

