@import 'global';
/*
chat.html.twig
*/
#chat_connection {
  margin-top: 50px;

  .connected
  {
    margin-top: 15px;
    color: black;
    border: 1px solid #c8c8c8;
    border-radius: 10px;
  }
  .Nom_prenom p
  {
    margin-left: 50px;
    color: $ColorDarkGrey;
    font-size: 1.2em;
  }
  .image img
  {
    height: 80px;

  }
  .btnfilterAllprofil{
    background-color: $Colorblue;
  }

  .group-text {
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #c8c8c8;
  }

  @media #{$small-and-down}{
    .image img{
      height: auto;
      margin-top: 10px;
    }
    .Nom_prenom p{
      margin-left: auto;
    }
    .right{
      float: none !important;
    }
  }

}

