@import "global";

.editprofil{
    .divform{

        text-align: center;

        input[type=text]:focus {
            border-bottom: 2px solid $Colorblue;
            box-shadow: 0 1px 0 0 $Colorblue;
        }
        span{
            color:$Colorblue;
        }
    }
    textarea{
        border-radius: 8px;
    }
    .sltbox input{
        border:2px solid lightgray;
        background-color: $Colorblue;
    }
    .sltbox span {
      z-index: 1;
      font-size:1.5em;
    }
    .btnright a{
      float:right;
    }
}