@import "global";
// CSS de la page EDIT PROFIL
.editprofil{

    .divform{
        text-align: center;

        input[type=text]:focus {
            border-bottom: 2px solid $Colorblue;
            box-shadow: 0 1px 0 0 $Colorblue;
        }
        span{
            color:$Colorblue;
        }
    }
    textarea{
        border-radius: 8px;
    }
    .sltbox input{
        border:2px solid lightgray;
        background-color: $Colorblue;
    }
    .sltbox span {
        z-index: 2;
        font-size:1.5em;
        color: black;
    }
    .btnright a{
        float:right;
    }
}
// CSS de la page VOIR MON PROFIL PUBLIC

.showprofil{

    margin: 0;
    max-width: none;
    width: 100%;

    h4, h5, p{
        text-align: center;
        word-wrap: break-word;
    }
    .cartepro, .cartepro2{
        border: 1px solid red;
        background-color: $Colorblue;
        padding-left: 5%;
        padding-right: 5%;
        border-radius: $BorderRadius;
        text-align: center;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .imgpro{
        text-align: center;
        background-color: white;
        margin:0;
        padding:0; margin-top: 3%;
        border-radius: $BorderRadius;
    }
    .imgpro img {
       width:60%;
       margin-top:5%;
       margin-bottom: 3%;
    }
    .modpro{
     text-align: center;
    }
}