@import "global";
//#footer_legal, #footer_presse, #footer_conseils, #footer_contact
#footer_apropos
{
  a {
    text-decoration: underline;
    text-decoration: dotted;
    text-decoration-color: #565656;
  }
  //
  //a:visited {
  //  color: pink;
  //  background-color: transparent;
  //  text-decoration: none;
  //}

  a:hover {
    font-weight: bold;
    color: darkslategray;
    background-color: transparent;
    text-decoration: underline;
  }

  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }

}
