@import "global";
#formCreatePro
{
  margin-top: 50px;

  .vignette_projet_profilAdd {
    background-color: $ColorDarkGrey;
    border-radius: $BorderRadius;
    margin-bottom: 10px;
    height: 33em;
    border: 2px solid $Colorgrey;

    max-width: 300px;


  }
  .vignette_projet_profilAdd:hover {
    background-color: $Colorgrey;

  }
  .info_projet_profilAdd {
    border-radius: $BorderRadius;
    overflow: scroll;
    margin: 5px;
    background-color: white;
    height: 18em;


  }


  .deleteProfilR {
    margin: 10px;
    background-color: $Colorblue;
  }

  //h4 {
  //  text-align: center;
  //  color: white;
  //}
  label.required:after {
    content: "*";
  }
  label {
    color: dimgrey;
    font-weight: bold;
    font-size: 1.5em;
  }

  p {
    .container {
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .btn {
      margin-bottom: 20px;
    }


    //.box_profil_rech {
    //  text-align: center;
    //}
  }

  input[type=text], input[type=password], input[type=email], input[type=url], input[type=time],
  input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number],
  input[type=search] {
    border: 1.5px solid lightgray;
    border-radius: 10px;
  }

  input:focus {
    border: 1.5px solid $Colorblue;
    border-radius: 10px;
    outline: none;
  }
  input{
    background-color: $Colorblue;
  }


  ul li span {
    color : $ColorDarkGrey;
  }
  [type="checkbox"]:checked+label:before {

    border-right: 2px solid $ColorDarkGrey;
    border-bottom: 2px solid $ColorDarkGrey;

  }
  .profilR {
    margin-top: 40px;
  }

}