@import "global";

#createProjet
{
  label.required:after {
    content: "*";
  }
  label {
    color: $ColorDarkGrey;
    font-size: 1.5em;
  }

  .container {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .btn {
    margin-bottom: 20px;
  }


  .select-wrapper {
    border-radius: 10px;
  }

  input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time],
  input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number],
  input[type=search], #mblbundle_projet_description, #mblbundle_projet_localisation  {
    border: 1.5px solid lightgray;
    border-radius: 10px;
    outline: none;
  }

  input:focus, #mblbundle_projet_description:focus, #mblbundle_projet_localisation:focus  {
    border: 1.5px solid $Colorblue;
    border-radius: 10px;
    outline: none;
    box-shadow: none;
  }

  .hiddenPreview {
    display: none ;
  }
  textarea#mblbundle_projet_description{
    height: 10em;
  }
  .submitProjet {
    margin: auto;
    display: block;
    margin-bottom: 10px;
  }
  img {
    width: 100%;
  }

}











