/*
Variable globale

CONSTANTE
*/
$Colorblue : #98d4e1;
$Colorgrey : #f0f0f0;
$ColorDarkGrey: #4b494b;
$ColorWhite : white;
$BoxShadow: 2px 2px 3px grey;
$BorderRadius : 8px;

/*
Font
*/
//FONT Helvetica: https://www.fontify.me/webfont/36450/helvetica-normal
html {
  font-family: font36450 !IMPORTANT;
}

* {
  text-align: justify;
}

/*
Variable globale

BALISE
*/

h1
{
  font-size: 1.5em;
  color: white;
}
h3 {
  font-size : 1.5em;
}
/*
  Condition pour color font H2
@function colorH2($bkgColor) {
  $colorH2: '';

  @if ($bkgColor == 'bleu') {
    $colorH2: white;
  } @else if ($bkgColor == 'gris') {
    $colorH2: black;
  }
  @return $colorH2;
*/
h2
{
  color:$ColorWhite;
  text-align: center;
}
body{
  background-color: $Colorgrey;
}


a { color: inherit; }
//Vignettes

.vignette_projet {
  background-color: $ColorDarkGrey;
  border-radius: $BorderRadius;
  margin-bottom: 10px;
  height: 30em;
  border: 2px solid $Colorblue;

  max-width: 300px;

}
.vignette_projet:hover {
 background-color: $Colorblue;
}
.vignette_profil {
  background-color: $Colorblue;
  border-radius: $BorderRadius;
  margin-bottom: 10px;
  height: 30em;
  border: 2px solid $Colorblue;

  max-width: 300px;


}
.vignette_profil:hover {
  background-color: $ColorDarkGrey;
}
.info_projet {
  border-radius: $BorderRadius;
  overflow: scroll;
}
.vignette {
  border-radius: $BorderRadius;
}
.photo_profil {
  border-radius: $BorderRadius;

}
.photo_profil img {
  height: 7em;
  max-width: 120px;
  max-height: 100px;
}
.photo_profil, .info_projet, .info_profil {
  background: $ColorWhite;
  //margin-bottom: 10px;

}
.info_projet {
  height: 16em;
}

h6 {
  font-weight: bold;
}







