@import 'global';
#index {


    h2 {
      font-size: 1.5em;
    }

  .Outils {
    padding-top: 70px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  .Finance {
    margin-top: 30px;
  }

  .box_projet_profil * {
    text-align: center;
  }

  .btn_bandeau_homepage {
    background-color: $ColorWhite;
    color: $Colorblue;
    font-size: 0.9rem;
    box-shadow: $BoxShadow;
    max-width: 300px;
    min-width: 150px;
    height: 50px;
    padding: 7px;
    &:hover {
      background-color: $Colorgrey;
      color: #6f9ea8;
    }
    &:focus {
      background-color: $Colorgrey;
    }
    @media #{$medium-and-down} {
    display:none;
    }
  }
  .btn_bandeau_homepage_down {
    background-color: $ColorWhite;
    color: $Colorblue;
    box-shadow: $BoxShadow;
    &:hover {
      background-color: $Colorgrey;
      color: #6f9ea8;
    }
    &:focus {
      background-color: $Colorgrey;
    }
  }

  .toHide {
    @media #{$medium-and-down } {
      display: none !important;
    }
  }
  .toShow {
    @media #{$medium-and-down} {
      display: inline !important;
    }
  }
  .btn_eBusta {
    margin-top: 40px;
  }
  .logoEb {
    max-width: 200px;
    height: auto;
    @media screen and (min-width: 900px) and (max-width: 1345px) {
      max-width: 150px;
      height: auto;
    }
    @media #{$medium-and-down} {
      display: none;
    }
  }

  .encarttof{
    padding-top: 10px;
  }
  .intitul{
    padding:0;
  }
  .intitul h4 {
    margin-bottom: 10px;
    font-weight: bold;
    @media #{$large-and-up}{
      font-size: 1.4em;
    }
    @media #{$medium-and-down}{
      font-size: 1.4em;
    }
    @media #{$small-and-down}{
      font-size: 1.3em;
    }
  }
  .vignette{
    @media #{$small-and-down}{
      margin-bottom: 0;
    }
  }
  .vignette1{
    @media #{$small-and-down}{
      margin-bottom: 10;
    }
  }
}



