@import "global";
#index {
  .bandeau_homepage {
    width: 100%;
    margin: 0;
    background: $Colorblue;
    color: $ColorWhite;

     h2 {
      font-size: 1.5em;
    }

  }

  .btn_bandeau_homepage {
    background-color: $ColorWhite;
    color: $Colorblue;
    box-shadow: $BoxShadow;
    &:hover {
      background-color: $ColorWhite;
    }
    &:focus {
      background-color: $ColorWhite;
    }
  }
  .Outils {
    padding-top: 70px;
  }
  .btn_eBusta {
    margin-top: 40px;
  }
  .Finance {
    margin-top: 30px;
  }

  .box_projet_profil * {
    text-align: center;

    
  }
}


