@import "global";
#index {
  .bandeau_homepage {
    width: 100%;
    margin: 0;
    background: $Colorblue;
    color: $ColorWhite;

     h2 {
      font-size: 1.5em;
    }
  }

  .btn_bandeau_homepage {
    background-color: $ColorWhite;
    color: $Colorblue;
    box-shadow: $BoxShadow;

    &:hover {
      background-color: $Colorgrey;
      color: #6f9ea8;
    }
    &:focus {
      background-color: $Colorgrey;
    }
  }
  .Outils {
    padding-top: 70px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
  .btn_eBusta {
    margin-top: 40px;
  }
  .Finance {
    margin-top: 30px;
  }

  .box_projet_profil * {
    text-align: center;
    
  }

}


