@import 'global';
/*
Layout.html.twig
*/
.header
{
  background-color:$Colorgrey;
}

.footer
{
  background-color:$ColorDarkGrey;
}

.bandeau
{
  //border-top: 3px solid white;
  //border-bottom: 3px solid white;
  height: 120px;
  background-color: $Colorblue;
  color: White;
  text-align: center;
  padding-top: 5px;

}
.color
{
  color: $Colorblue;
}
.bandeauH2
{
  color: White;
}
.dropdown-content li>a {
  color : $ColorDarkGrey;
}
.modal {
  .tabs {
    margin : 0;
    padding: 0;
    background-color: $Colorblue;
  }
    .tab a {
    color : grey;

    }
    .tab a:hover{
      color: $ColorDarkGrey;
    }
    .tab a.active {
      color: $ColorDarkGrey;
    }
  .tabs .indicator {
    background-color : $ColorDarkGrey;
  }

}
#Connexion, #register {
  margin-top: 25px;
}
.remember {
  margin-top: 10px;
}
[type="checkbox"]:checked+label:before {

  border-right: 2px solid $ColorDarkGrey;
  border-bottom: 2px solid $ColorDarkGrey;

}
.submitRegister {
  margin-top: 55px;
}
.moreRegisterHidden {
  display: none;
}
.moreRegister {
  margin-top: 25px;
}
textarea#fos_user_registration_form_description {
  height: 10em;

}
#fos_user_registration_form_description  {
  border: 1.5px solid lightgray;
  border-radius: 10px;
  outline: none;
}
input, button {
  border: 1.5px solid lightgray !important;
  border-radius: 10px !important;
  outline: none;
}
#login .btn, #register .btn {
  background: $Colorblue !important;

}
#username:focus, #password:focus, #fos_user_registration_form_description:focus, .customRegister:focus  {
  border: 1.5px solid $Colorblue !important;
  border-radius: 10px;
  outline: none !important;
  box-shadow: none !important;
}
