@import 'global';
/*
Layout.html.twig
*/
.header
{
  background-color:$Colorgrey;

}
.footer
{
  background-color:$ColorDarkGrey;
}
.bandeau
{
  //border-top: 3px solid white;
  //border-bottom: 3px solid white;
  height: 120px;
  background-color: $Colorblue;

  color: White;
  text-align: center;
  padding-top: 5px;

}
.color
{
  color: $Colorblue;
}
.bandeauH2
{
  color: White;
}
