@import 'global';
/*
Layout.html.twig
*/
.header
{
  background-color:$Colorgrey;
}
.logotxt{
  height:60px;
  padding-top: 10px;
}
.page-footer
{
  background-color:$ColorDarkGrey;
  position: relative;
  bottom: 0;
  width: 100%;
}

.bandeau
{
  //border-top: 3px solid white;
  //border-bottom: 3px solid white;
  height: 120px;
  background-color: $Colorblue;
  color: White;
  text-align: center;
  padding-top: 5px;
}

.color
{
  color: $Colorblue;
}
.bandeauH2
{
  color: White;
}

.darkerBiz {
  font-size: 1.3em;
  font-weight: bold;
  padding-left: 30px;
  color: #FB5B57;
  text-decoration: none;
}
.lancer {
  font-size: 1em;
  font-weight: bold;
  color: $Colorblue;
  margin-left: 20px;
}

.lancer:hover {
  color: #6f9ea8;
  font-size: 1.1em;
}

.darkerBiz:hover {
  color: #FB5B57;
  opacity: 0.9;
}
.darkerTop:hover {
  color: #6f9ea8;
}

.dropdown-content li > a {
    color: $ColorDarkGrey;
  }

a .logoEbMenu  {
  display: none;
    @media #{$medium-and-down} {
     display: inline;
      max-height: 35px;
      vertical-align: middle !important;
      margin-left: 20px;
     opacity: 0.5;
  }
}
a .logoEbMenu:hover {
  display: none;
  @media #{$medium-and-down} {
    display: inline;
    max-height: 35px;
    vertical-align: middle !important;
    margin-left: 20px;
    opacity: 0.8;
  }
}

.material-icons {
  display: inline !important;
  vertical-align: middle !important;
  margin-left: 20px;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}
.material-icons.md-grey, .md-euro {
  font-size: 24px;
  @media #{$medium-and-down} {
    color: $ColorDarkGrey;
  }
  @media #{$large-and-up} {
    display: none !important;
  }
}
.material-icons.md-grey:hover, .md-euro:hover {
  color: #6f9ea8;
}

.dotCom {
  color: black;
  opacity: 0.5;
}

.BB:hover {
  border-bottom: 2px solid #FB5B57;
  width: 90%;
}

.modal {
  .tabs {
    margin : 0;
    padding: 0;
    background-color: $Colorblue;
  }
    .tab a {
    color : grey;

    }
    .tab a:hover{
      color: $ColorDarkGrey;
    }
    .tab a.active {
      color: $ColorDarkGrey;
    }
  .tabs .indicator {
    background-color : $ColorDarkGrey;
  }

}
#Connexion, #register {
  margin-top: 25px;
}
.remember {
  margin-top: 10px;
}
[type="checkbox"]:checked+label:before {

  border-right: 2px solid $ColorDarkGrey;
  border-bottom: 2px solid $ColorDarkGrey;

}
.submitRegister {
  margin-top: 55px;
}
.moreRegisterHidden {
  display: none;
}
.moreRegister {
  margin-top: 25px;
}
textarea#fos_user_registration_form_description {
  height: 10em;

}
#fos_user_registration_form_description  {
  border: 1.5px solid lightgray;
  border-radius: 10px;
  outline: none;
}
input, button {
  border: 1.5px solid lightgray !important;
  border-radius: 10px !important;
  outline: none;
}
#login .btn, #register .btn {
  background: $Colorblue !important;

}
#username:focus, #password:focus, #fos_user_registration_form_description:focus, .customRegister:focus  {
  border: 1.5px solid $Colorblue !important;
  border-radius: 10px;
  outline: none !important;
  box-shadow: none !important;
}
