@import "global";

#oneProject {
    padding: 0;
    margin: 0;
  
  .profil_recherche{
    margin-top: 50px;
  }
  .vignette_projet_profilAdd {
    background-color: $ColorDarkGrey;
    border-radius: $BorderRadius;
    margin-bottom: 10px;
    height: 30em;
    border: 2px solid $Colorgrey;

    max-width: 300px;


  }
  .vignette_projet_profilAdd:hover {
    background-color: $Colorgrey;

  }
  .info_projet_profilAdd {
    border-radius: $BorderRadius;
    overflow: scroll;
    margin: 5px;
    background-color: white;
    height: 18em;
  }
    .presProjet {
    padding: 0;
    margin: 0;
  }
  .creeLePar {
    color: grey;
    font-style: italic;
  }

  a.site {
    color: darkcyan;
  }
  a.site:hover{
    color: darkslategray;
    text-decoration: underline;
  }

  .cartepro {
    border: none;
    background-color: $Colorblue;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 20px;
    border-radius: $BorderRadius;
  }
    .imgPhoto img
    {
      //max-height: 300px;
      //max-width: 250px;
      height: 17em;
    }
}
