@import "global";
.showProjet {
  height: 100%;
  input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time],
  input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number],
  input[type=search], textarea.materialize-textarea  {
    border-bottom: none;
    border: 1.5px solid lightgray;
    border-radius: 10px;
  }
  .box_projet * {
    text-align: center;
  }
  .btnfilter{
    padding-top: 30px;
    text-align: center;
    height:100%;
    @media #{$small-and-down}{
      padding-top: 0;
    }
  }
  .center {
    background-color: $Colorblue;
  }
  .logodefault{
    width: 90px;
  }
  .encarttof{
    padding-top: 10px;
    height: 110px;
    @media #{$small-and-down}{
      height: auto;
    }
  }
  .intitul{
    padding:0;
  }
  .intitul h4 {
    margin-bottom: 10px;
    font-weight: bold;
    @media #{$large-and-up}{
      font-size: 1.4em;
    }
    @media #{$medium-and-down}{
      font-size: 1.4em;
    }
    @media #{$small-and-down}{
      font-size: 1.3em;
    }
  }
  .vignette{
    @media #{$small-and-down}{
      margin-bottom: 0;
    }
  }
  @media #{$small-and-down}{
    padding: 20px;
  }

}