@import "global";

#oneProject {
    padding: 0;
    margin: 0;

  .presProjet {
    padding: 0;
    margin: 0;
  }
  .creeLePar {
    color: grey;
    font-style: italic;
  }
  a.site {
    color: darkcyan;
  }
  a.site:hover{
    color: darkslategray;
    text-decoration: underline;
  }
  //.linkedIn {
  //  align-items: center;
  //}
  .cartepro {
    border: none;
    background-color: $Colorblue;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 20px;
    border-radius: $BorderRadius;
  }
    .imgPhoto img
    {
      //max-height: 300px;
      //max-width: 250px;
      height: 17em;
    }
}
