
@import "global";
#myProfil {
 margin-top: 40px;
  h4 {
    font-weight: bold;
  }
  h6 {
    font-weight: bold;
    font-size: 1.4em;
  }
  p {
    font-size: 1.3em;
    text-align: center;
  }
  .section{
    border-top: solid 1px white;
  }
  .showProfil {

    background-color: $Colorblue;
 border-radius: 10px;
    margin-bottom: 50px;
    //font-style: italic;
  }
  a.site {
    color: darkcyan;
  }
  a.site:hover{
    color: darkslategray;
    text-decoration: underline;
  }
  .linkedIn {
    align-items: center;
  }
  .imgPhoto img
  {
    //max-height: 300px;
    //max-width: 250px;
    height: 17em;
  }
  .divform
  {
    text-align: center;
    margin-bottom: 25px;

  }

}
