@import "global";
#homepage
{



.UHP{
  width:100%;
  padding-top:100px;
}

.btnlink {
  text-align: center;
  height:100px;
}

.btnlink1{

}

.btn {
  background-color: $Colorblue;
  width: 300px;
  &:hover
  {
    background-color: $Colorblue;
    box-shadow: $BoxShadow;
  }
  &:focus{
    background-color: $Colorblue;
  }
}
}

//.btn:hover{
//  background-color: $Colorblue;
//
//}

