/*
Variable globale

CONSTANTE
*/
$Colorblue : #98d4e1;
$Colorgrey : #f0f0f0;
$ColorDarkGrey: #4b494b;

/*
Variable globale

BALISE
*/

h1
{
  size: 1.5em;
  color: white;
}
h2
{

  color:white;
}
body{
  background-color: $Colorgrey;
}

