@import 'global';
/*
Layout.html.twig
*/
.header
{
  background-color:$Colorgrey;
}
.footer
{
  background-color:$ColorDarkGrey;
}
.bandeau
{
  //border-top: 3px solid white;
  //border-bottom: 3px solid white;
  height: 120px;
  background-color: $Colorblue;
  text-align: center;
}

.bandeauH2
{
  color: White;

}

